{% extends "home/base.html" %}
{% load static %}
{% block contenidoQueCambia %}
    <body>
        <div>
            <h1>Gracias por usar Assistant Job</h1>
            <button><a href="{% url 'home' %}">Vuelve a entrar</a></button>
        </div>
    </body>
    <footer class="page-footer teal darken-2"style="position: absolute;bottom: 0;width: 100%;height: 70px;">
        <div class="footer-copyright">
          <div class="container">
          © 2022  Sebastián Al
          </div>
        </div>
      </footer>
{% endblock %}